.site-footer {
	&__wrap {
		@include font-size(11/16);
		line-height: 20px;
		.space-between-content {
			&:not(:empty) {
				padding-top: 30px;
				padding-bottom: 30px;
			}
			align-items: center;
			@include media-breakpoint-down(xs) {
				display: block;
				text-align: center;
			}
		}
	}
}
.footer-area {
	@include make-container();
	@include make-container-max-widths();
	display: flex;
	flex-wrap: wrap;
	>.widget {
		width: 25%;
	}
}

.footer-post{
	.jw-posts{
		&__inner-box{
			display: flex;
		}
		.post-thumbnail{
			min-width: 70px;
			img{
				width: 70px;
				height: 70px;
				object-fit: cover;
			}
		}
	}
}
.footer-link{
	a{
		color: #fff;
	}
}
