$color__green: #01de9c;
$color__blue: #01cade;
$color__white: #fff;
$color__accent: #f23849;
$color__light: #8f8f8f;
$color__lightblue: #f2f6fb;
$color__dark: #000;
$color__darkgray: #000000;
$color__darkgray2: #272A31;
$color__related-posts: #272A31;

$color__bg-preloader-cover: $color__white;
$color__background-screen: #202020;
$color__background-hr: #534e5f;
$color__background-input: #fff;
$color__background-pre: $color__accent;

$color__text-screen: #21759b;
$color__text-input: #666;

$color__border-button: #ccc;
$color__border-input: #f23849;
$color__input-focus: #fcbd56;
$color__border-abbr: #666;
$color__border-table: $color__background-hr;
$color__border-pre: darken( $color__background-pre, 10% );

