@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "grid/grid";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
### Main column width
--------------------------------------------------------------*/
.wp-block {
	max-width: 1000px;
	&[data-align="wide"], &[data-align="full"]{
		max-width: inherit;
	}
}
[id|="elementor"].button:hover{
	background: #008ec2;
	border-color: #006799;
	color: #fff;
}
a#elementor-go-to-edit-page-link,
a#elementor-go-to-edit-page-link:hover{
	background-color: inherit;
	border:none;
}

/*--------------------------------------------------------------
### Gutenberg editor style controls
--------------------------------------------------------------*/
a.components-external-link{
	color: #0073aa;
	margin-right: 10px;
	overflow: hidden;
	position: relative;
	text-decoration: underline;
	white-space: nowrap;
	width: 100%;
	&:hover{
		color: #0073aa;
	}
}
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container{
	position: relative;
}
.wp-block-code .block-editor-plain-text {
	color: #fff;
}
.wp-block-pullquote__citation:before,
.wp-block-quote__citation:before{
	content: "— ";
}
.wp-block-freeform.block-library-rich-text__tinymce code{
	background: transparent;
	padding: 2px 5px;
}
select,
.wp-block-archives-dropdown select{
	height: auto;
	border-color: #aaa;
	border-radius: 0;
}

.editor-block-list__block-edit{

	ul.wp-block-categories__list,
	ul.wp-block-archives-list{
		list-style-type: none;
		padding-left: 0;
	}
	ul.wp-block-archives-list li:before,
	ul.wp-block-categories__list li:before {
		content: '\f105';
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		margin-right: 10px;
		color: #f23849;
	}
	hr.wp-block-separator:not(.is-style-dots){
		background-color: #8f98a1;
	}
	hr.wp-block-separator.is-style-dots{
		color: #8f98a1;
	}
	hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots){
		border: 0;
		height: 2px;
		margin: 1.5em auto;
	}
	input[type='password'],
	input[type=text]{
		border-radius: 0;
	}
	.wp-block-freeform .button,
	.wp-block-freeform .button-primary,
	.wp-block-freeform .button-secondary{
		height: auto;
		box-shadow: none;
	}
	.wp-block-freeform input[type=reset],
	.wp-block-freeform input[type=reset]:active,
	.wp-block-freeform input[type=reset]:focus,
	.wp-block-freeform input[type=reset]:hover{
		padding: 16px 40px;
	}
	.wp-block-freeform input.button:hover{
		border-color: #f23849;
	}
	.alignwide {
		margin-left  : -80px;
		margin-right : -80px;
		max-width: initial;
		width: calc(100% + 160px);
	}
}
