@charset "UTF-8";
/* Button */
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  background-color: white; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 16px;
  font-size: 1rem; }

.wp-block-cover__video-background {
  position: absolute;
  top: 0;
  left: 0;
  transform: none; }

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border: none;
  padding-left: 105px; }
  @media (max-width: 1199px) {
    .wp-block-quote:not(.is-large):not(.is-style-large) {
      padding-left: 76px; } }
  @media (max-width: 767px) {
    .wp-block-quote:not(.is-large):not(.is-style-large) {
      padding-left: 35px; } }

.wp-block-quote {
  border: none;
  background-color: transparent; }

.wp-block-quote,
.wp-block-quote.is-style-large {
  padding: 30px 8% 30px 105px; }
  @media (max-width: 1199px) {
    .wp-block-quote,
    .wp-block-quote.is-style-large {
      padding-left: 76px; } }
  @media (max-width: 767px) {
    .wp-block-quote,
    .wp-block-quote.is-style-large {
      padding-left: 35px; } }

.wp-block-pullquote blockquote:before {
  color: #fff;
  opacity: .2; }
  @media (max-width: 767px) {
    .wp-block-pullquote blockquote:before {
      left: 15px; } }

.wp-block-pullquote cite, .wp-block-pullquote footer, .wp-block-pullquote__citation,
.wp-block-quote cite, .wp-block-quote footer, .wp-block-quote__citation {
  color: #fff;
  font-size: 14px; }
  .wp-block-pullquote cite a, .wp-block-pullquote footer a, .wp-block-pullquote__citation a,
  .wp-block-quote cite a, .wp-block-quote footer a, .wp-block-quote__citation a {
    color: #fff; }
    .wp-block-pullquote cite a:hover, .wp-block-pullquote footer a:hover, .wp-block-pullquote__citation a:hover,
    .wp-block-quote cite a:hover, .wp-block-quote footer a:hover, .wp-block-quote__citation a:hover {
      color: #f23849; }

@media (max-width: 767px) {
  .wp-block-quote.is-large cite,
  .wp-block-quote.is-large footer,
  .wp-block-quote.is-style-large cite,
  .wp-block-quote.is-style-large footer {
    font-size: 14px; } }
.wp-block-table tr {
  background-color: #272A31;
  border-bottom: 1px solid #272A31; }
  .wp-block-table tr:first-child {
    background-color: #f23849; }
  .wp-block-table tr:last-child {
    border-bottom: none; }
.wp-block-table td {
  border: none; }

.wp-block-gallery {
  margin: 0; }

.wp-block-separator.is-style-dots::before {
  color: #8f98a1; }

@media (min-width: 600px) {
  .wp-block-column:not(:first-child) {
    margin-left: 0; } }
.sticky-label {
  margin-top: 10px; }
  @media (max-width: 767px) {
    .sticky-label {
      margin-top: 5px; } }

@media (max-width: 767px) {
  .wp-block-table {
    font-size: 12px; }

  .wp-block-media-text {
    display: block; }
    .wp-block-media-text p {
      margin-bottom: 10px; } }
.widget_calendar .calendar_wrap tbody td a {
  border-radius: 0; }
  .widget_calendar .calendar_wrap tbody td a:before {
    display: none; }

.widget_media_gallery .gallery-caption {
  font-size: 12px; }

table.mce-item-table tr th,
table:not([class]) tr th {
  background-color: #f23849;
  border: none;
  border: 1px solid #f23849; }
  table.mce-item-table tr th a,
  table:not([class]) tr th a {
    font-weight: 500; }
table.mce-item-table thead ~ tbody tr th,
table:not([class]) thead ~ tbody tr th {
  background-color: #272A31;
  border: 1px solid #3c3e4a; }
table.mce-item-table th, table.mce-item-table td,
table:not([class]) th,
table:not([class]) td {
  padding: 10px 25px;
  background-color: #272A31;
  border: 1px solid #3c3e4a; }

#wp-calendar th {
  background-color: transparent;
  padding: 0 0 40px; }
#wp-calendar td {
  padding: 1px;
  background-color: transparent; }

option {
  background-color: #272A31; }

.post-password-form label + input {
  display: block;
  margin-top: 20px; }

.page-links > span, .page-links > a {
  border-radius: 5px; }

.tag-image.post_format-post-format-image .post-thumbnail__link:before {
  max-width: 70px; }

.post_format-post-format-link .entry-content,
.post_format-post-format-aside .entry-content,
.post_format-post-format-audio .entry-content,
.post_format-post-format-status .entry-content,
.posts-list__item.post_format-post-format-link .entry-content,
.posts-list__item.post_format-post-format-status .entry-content,
.posts-list__item.post_format-post-format-aside .entry-content,
.default-item.posts-list__item.post_format-post-format-link .entry-content,
.default-item.posts-list__item.post_format-post-format-status .entry-content,
.default-item.posts-list__item.post_format-post-format-aside .entry-content {
  background-color: transparent;
  border-color: #f23849; }

.posts-list__item.post_format-post-format-link .entry-content:before {
  color: #f23849; }

.wp-caption.alignnone a:before {
  display: none; }

.widget_tag_cloud .tagcloud .tag-cloud-link:hover {
  background-color: #f23849;
  color: #fff; }

.home .page-header.site-header__wrap {
  display: none; }

.site-header {
  background-color: #000000; }

@media (max-width: 767px) {
  .wp-block-column ol {
    margin-left: 15px; }

  .elementor-tabs .elementor-tab-title {
    border-right-style: none;
    border-left-style: none; } }
.wp-block-image figcaption {
  font-size: 14px; }

.wp-block-image.size-full .aligncenter a:before {
  opacity: 0; }

table.wp-block-table.is-style-stripes tr:nth-child(odd) {
  background-color: #f23849; }

.wp-block-freeform.block-library-rich-text__tinymce table.mce-item-table tr th a {
  color: #fff; }

.entry-content .alignwide {
  margin-left: -80px;
  margin-right: -80px;
  width: calc(100% + 160px);
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: initial; }

.position-one-right-sidebar .entry-content .alignwide {
  margin-right: auto;
  width: calc(100% + 80px); }

.position-one-left-sidebar .entry-content .alignwide {
  margin-left: auto;
  width: calc(100% + 80px); }

.entry-content .alignfull {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc( 50% - 50vw);
  margin-top: 15px;
  margin-bottom: 15px; }

.alignfull img {
  width: 100vw; }

.wp-block-embed-wordpress-tv.alignfull iframe {
  width: 100%; }

@media (min-width: 1025px) {
  .position-one-right-sidebar .entry-content .alignfull {
    width: auto;
    margin-left: calc( 50% / .75 - 50vw); }

  .position-one-right-sidebar .wp-block-embed-wordpress-tv.alignfull {
    padding-left: 5px; }

  .position-one-left-sidebar .entry-content .alignfull {
    width: auto;
    margin-left: auto;
    margin-right: calc( 50% / .75 - 50vw); }

  .position-one-left-sidebar .wp-block-embed-wordpress-tv.alignfull {
    padding-right: 5px; } }
@media (max-width: 1480px) {
  .position-one-right-sidebar .entry-content .alignwide {
    margin-right: auto;
    margin-left: -30px;
    width: calc(100% + 30px); }

  .position-one-left-sidebar .entry-content .alignwide {
    margin-left: auto;
    margin-right: -30px;
    width: calc(100% + 30px); } }
@media (max-width: 1024px) {
  .position-one-right-sidebar .entry-content .alignwide,
  .position-one-left-sidebar .entry-content .alignwide {
    margin: 20px -15px;
    width: calc(100% + 30px); } }
.posts-list--default .default-item .entry-footer .entry-meta > div {
  margin-top: 24px; }

.social-list__items li.menu-item {
  margin-right: 10px; }
  .social-list__items li.menu-item:last-child {
    margin-right: 0; }
  .social-list__items li.menu-item a span {
    position: relative !important;
    margin-left: 5px; }
  .social-list__items li.menu-item a:before {
    min-width: 20px;
    color: #fff;
    display: inline-block; }
  .social-list__items li.menu-item a:hover:before {
    background-color: transparent;
    width: auto;
    color: #f23849; }

.twitter-tweet {
  margin: 10px auto; }

.wp-block-columns.alignfull .wp-block-column {
  padding: 0 15px; }

.wp-block-table {
  margin-top: 30px;
  margin-bottom: 30px; }

.category-post-formats.format-audio .entry-content a {
  color: #fff; }
  .category-post-formats.format-audio .entry-content a:hover {
    color: #fff; }
.category-post-formats.format-audio .entry-content p {
  display: inline-block;
  vertical-align: top; }

.wp-block-latest-comments__comment-date,
.wp-block-latest-posts__post-date {
  color: #fff; }

.page-links {
  clear: both;
  padding: 30px 0; }

.products .product .product-content {
  background-color: #272A31; }

h1, .elementor-widget-heading h1.elementor-heading-title,
h2, .elementor-widget-heading h2.elementor-heading-title {
  margin-bottom: 20px; }

h3, .elementor-widget-heading h3.elementor-heading-title,
h4, .elementor-widget-heading h4.elementor-heading-title,
h5, .elementor-widget-heading h5.elementor-heading-title,
h6, .elementor-widget-heading h6.elementor-heading-title {
  margin-bottom: 10px; }

p {
  margin: 0 0 1em; }

.elementor p {
  margin-bottom: 0; }

.site .elementor .elementor-image a:before,
.site h2 a:not([class]):before,
.site h3 a:not([class]):before,
.site h4 a:not([class]):before {
  display: none; }

.comment-reply-link,
.site a:not([class]) {
  position: relative; }
  .comment-reply-link:before,
  .site a:not([class]):before {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    transition: .3s ease;
    height: 1px;
    width: 0; }

.comment-reply-link:hover:before,
.elementor a:hover:before,
.site a:not([class]):hover:before,
.site a:not(.comments-link):hover:before {
  width: 100%; }

dfn, cite, em, i {
  font-style: italic; }

address {
  margin: 0 0 1.5em; }

.wp-block-html,
.wp-block-code,
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  overflow: auto;
  max-width: 100%;
  margin: 0 0 1.5em;
  padding: 1.5em;
  border-radius: 0;
  background: #f23849;
  border: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
  font-size: 1rem; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

code {
  padding: 2px 5px;
  border: 1px solid #534e5f; }

abbr, acronym {
  cursor: help;
  border-bottom: 1px dotted #666; }

mark, ins {
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  @media (min-width: 768px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 1025px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 100%; } }
  @media (min-width: 1366px) {
    .container {
      max-width: 1356px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1025px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1280px) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1366px) {
  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-pull-1 {
    right: 8.3333333333%; }

  .col-xl-pull-2 {
    right: 16.6666666667%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-4 {
    right: 33.3333333333%; }

  .col-xl-pull-5 {
    right: 41.6666666667%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-7 {
    right: 58.3333333333%; }

  .col-xl-pull-8 {
    right: 66.6666666667%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-10 {
    right: 83.3333333333%; }

  .col-xl-pull-11 {
    right: 91.6666666667%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-push-1 {
    left: 8.3333333333%; }

  .col-xl-push-2 {
    left: 16.6666666667%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-4 {
    left: 33.3333333333%; }

  .col-xl-push-5 {
    left: 41.6666666667%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-7 {
    left: 58.3333333333%; }

  .col-xl-push-8 {
    left: 66.6666666667%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-10 {
    left: 83.3333333333%; }

  .col-xl-push-11 {
    left: 91.6666666667%; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-offset-0 {
    margin-left: 0%; }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%; }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
.col-xs-first {
  order: -1; }

.col-xs-last {
  order: 1; }

@media (min-width: 768px) {
  .col-sm-first {
    order: -1; }

  .col-sm-last {
    order: 1; } }
@media (min-width: 1025px) {
  .col-md-first {
    order: -1; }

  .col-md-last {
    order: 1; } }
@media (min-width: 1280px) {
  .col-lg-first {
    order: -1; }

  .col-lg-last {
    order: 1; } }
@media (min-width: 1366px) {
  .col-xl-first {
    order: -1; }

  .col-xl-last {
    order: 1; } }
.row-xs-top {
  align-items: flex-start; }

.row-xs-center {
  align-items: center; }

.row-xs-bottom {
  align-items: flex-end; }

@media (min-width: 768px) {
  .row-sm-top {
    align-items: flex-start; }

  .row-sm-center {
    align-items: center; }

  .row-sm-bottom {
    align-items: flex-end; } }
@media (min-width: 1025px) {
  .row-md-top {
    align-items: flex-start; }

  .row-md-center {
    align-items: center; }

  .row-md-bottom {
    align-items: flex-end; } }
@media (min-width: 1280px) {
  .row-lg-top {
    align-items: flex-start; }

  .row-lg-center {
    align-items: center; }

  .row-lg-bottom {
    align-items: flex-end; } }
@media (min-width: 1366px) {
  .row-xl-top {
    align-items: flex-start; }

  .row-xl-center {
    align-items: center; }

  .row-xl-bottom {
    align-items: flex-end; } }
.col-xs-top {
  align-self: flex-start; }

.col-xs-center {
  align-self: center; }

.col-xs-bottom {
  align-self: flex-end; }

@media (min-width: 768px) {
  .col-sm-top {
    align-self: flex-start; }

  .col-sm-center {
    align-self: center; }

  .col-sm-bottom {
    align-self: flex-end; } }
@media (min-width: 1025px) {
  .col-md-top {
    align-self: flex-start; }

  .col-md-center {
    align-self: center; }

  .col-md-bottom {
    align-self: flex-end; } }
@media (min-width: 1280px) {
  .col-lg-top {
    align-self: flex-start; }

  .col-lg-center {
    align-self: center; }

  .col-lg-bottom {
    align-self: flex-end; } }
@media (min-width: 1366px) {
  .col-xl-top {
    align-self: flex-start; }

  .col-xl-center {
    align-self: center; }

  .col-xl-bottom {
    align-self: flex-end; } }
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: ''; }

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: 16px;
  font-size: 1rem; }
  @media (min-width: 768px) {
    .wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
      font-size: 20px;
      font-size: 1.25rem; } }

.wp-block-pullquote p {
  font-size: 16px;
  font-size: 1rem; }
  @media (min-width: 768px) {
    .wp-block-pullquote p {
      font-size: 24px;
      font-size: 1.5rem; } }

.wp-block-freeform.block-library-rich-text__tinymce blockquote,
blockquote {
  position: relative;
  margin: 30px 0;
  padding: 30px 8%;
  background-color: transparent;
  border-left: none;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  font-style: italic; }
  @media (min-width: 768px) {
    .wp-block-freeform.block-library-rich-text__tinymce blockquote,
    blockquote {
      font-size: 18px;
      font-size: 1.125rem; } }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote p,
  blockquote p {
    margin: 0; }
    .wp-block-freeform.block-library-rich-text__tinymce blockquote p + p,
    blockquote p + p {
      margin-top: 1em; }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
  blockquote cite {
    display: block;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 19.2px;
    font-size: 1.2rem; }
    .wp-block-freeform.block-library-rich-text__tinymce blockquote cite:before,
    blockquote cite:before {
      content: "— "; }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote:before,
  blockquote:before {
    content: "\f10e";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 40px;
    top: 30px;
    left: 30px;
    text-align: center;
    position: absolute;
    color: #f23849; }
    @media (max-width: 1199px) {
      .wp-block-freeform.block-library-rich-text__tinymce blockquote:before,
      blockquote:before {
        left: 15px; } }
    @media (max-width: 767px) {
      .wp-block-freeform.block-library-rich-text__tinymce blockquote:before,
      blockquote:before {
        left: 0;
        font-size: 24px; } }

hr {
  background-color: #534e5f;
  border: 0;
  height: 1px;
  margin: 1.5em 0; }

.edit-link {
  display: inline-block;
  margin-top: 15px; }

@media (max-width: 767px) {
  blockquote {
    padding: 30px 8% 30px; } }
/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
ul, ol {
  margin: 0 0 1.5em 1.5em;
  padding-left: 0;
  padding-right: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

/* Inline list */
.inline-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .inline-list li {
    display: inline-block;
    vertical-align: top; }

@media (max-width: 767px) {
  ol {
    margin: 0 0 1.5em 0; } }
/*--------------------------------------------------------------
## ToTop
--------------------------------------------------------------*/
#toTop {
  overflow: hidden;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 24px;
  right: -999em;
  z-index: 999;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #272A31;
  padding-bottom: 2px;
  border-radius: 0; }
  #toTop:before {
    content: "\f077";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    transition: .3s ease;
    color: #fff; }
  #toTop:hover {
    background-color: #f23849; }
    #toTop:hover:before {
      color: #fff; }
  #toTop:focus {
    outline: none; }
  @media (min-width: 768px) {
    #toTop {
      right: 20px; } }

/*--------------------------------------------------------------
## Page preloader
--------------------------------------------------------------*/
.page-preloader-cover {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #202020; }
  .page-preloader-cover.hide-loader {
    transition: all 0.5s ease-in;
    opacity: 0; }

#cube-loader {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed; }

#cube-loader .caption {
  margin: 0 auto; }

#cube-loader .cube-loader {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  transform: rotateZ(45deg); }

#cube-loader .cube-loader .cube {
  position: relative;
  transform: rotateZ(45deg);
  width: 50%;
  height: 50%;
  float: left;
  transform: scale(1.1); }

#cube-loader .cube-loader .cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f23849;
  animation: cube-loader 2.76s infinite linear both;
  transform-origin: 100% 100%; }

#cube-loader .cube-loader .loader-2 {
  transform: scale(1.1) rotateZ(90deg); }

#cube-loader .cube-loader .loader-3 {
  transform: scale(1.1) rotateZ(180deg); }

#cube-loader .cube-loader .loader-4 {
  transform: scale(1.1) rotateZ(270deg); }

#cube-loader .cube-loader .loader-2:before {
  animation-delay: 0.35s; }

#cube-loader .cube-loader .loader-3:before {
  animation-delay: 0.69s; }

#cube-loader .cube-loader .loader-4:before {
  animation-delay: 1.04s; }

.website-loading {
  overflow-y: scroll; }
  .website-loading .site {
    overflow: hidden;
    height: 1vh; }

@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 15px; }

.alignright {
  float: right;
  margin-left: 30px;
  margin-bottom: 15px; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: none; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

.img-pull-left {
  float: left;
  width: 50%;
  margin: 0 4% 1% 0; }

.img-pull-right {
  float: right;
  width: 50%;
  margin: 0 0 1% 4%; }

.alignleft {
  margin: 15px 30px 15px 0; }

.alignright {
  margin: 15px 0 15px 30px; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    font-size: 12px;
    font-size: 0.75rem; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .gallery > * {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .gallery-item {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem; }
  .gallery img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
.embed-responsive {
  position: relative;
  display: block;
  padding: 0; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }
  .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 62.33%; }
  .embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%; }

/* Facebook embed */
.fb_iframe_widget {
  max-width: 100%; }
  .fb_iframe_widget > span {
    max-width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.wp-block-freeform input[type=reset],
.wp-block-freeform input[type=reset]:active,
.wp-block-freeform input[type=reset]:focus,
.wp-block-freeform input[type=reset]:hover,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  max-width: 100%;
  padding: 16px 40px;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s ease; }
  .wp-block-freeform input[type=reset]:before,
  .wp-block-freeform input[type=reset]:active:before,
  .wp-block-freeform input[type=reset]:focus:before,
  .wp-block-freeform input[type=reset]:hover:before,
  input[type='button']:before,
  input[type='reset']:before,
  input[type='submit']:before {
    display: none; }

.wp-block-button__link,
.elementor-button.elementor-size-xs,
.elementor-button.elementor-size-sm,
.elementor-button.elementor-size-lg,
.elementor-button.elementor-size-xl {
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase; }
  .wp-block-button__link:before,
  .elementor-button.elementor-size-xs:before,
  .elementor-button.elementor-size-sm:before,
  .elementor-button.elementor-size-lg:before,
  .elementor-button.elementor-size-xl:before {
    display: none; }

.elementor-button.elementor-size-md,
.btn {
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  padding: 16px 40px;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s ease; }
  .elementor-button.elementor-size-md:before,
  .btn:before {
    display: none; }
  .elementor-button.elementor-size-md.invert-button,
  .btn.invert-button {
    border: 2px solid #fff;
    background: none; }

.btn-icon:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
  font-size: 2.1875rem;
  content: '\f178'; }

.btn-text-icon {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500; }
  .btn-text-icon:after {
    transform: translateY(-1px);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    font-size: 0.75rem;
    content: '\f061';
    margin-left: 6px; }

.comments-button {
  border-width: 2px;
  border-style: solid; }

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
select,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-bottom-color: #f23849;
  background-color: transparent;
  transition: .3s ease; }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='url']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='number']:focus,
  input[type='tel']:focus,
  input[type='range']:focus,
  input[type='date']:focus,
  input[type='month']:focus,
  input[type='week']:focus,
  input[type='time']:focus,
  input[type='datetime']:focus,
  input[type='datetime-local']:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #fcbd56; }

.form-wrap {
  margin: 0;
  padding-bottom: 50px; }
  .form-wrap label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px; }
  .form-wrap li {
    list-style-type: none; }
    .form-wrap li textarea,
    .form-wrap li input:not([type="submit"]) {
      padding: 10px 10px 9px; }
  .form-wrap .form-btn-wrap {
    display: flex;
    justify-content: flex-end; }
    .form-wrap .form-btn-wrap .btn {
      display: block;
      width: auto;
      margin-top: 30px; }

.form-check-cover {
  margin-top: 4px; }
  .form-check-cover span.wpcf7-not-valid-tip {
    right: auto;
    left: 0;
    top: -16px; }
  .form-check-cover .wpcf7-form-control-wrap.wpgdprc .wpcf7-wpgdprc {
    padding: 0;
    background-color: transparent !important; }
    .form-check-cover .wpcf7-form-control-wrap.wpgdprc .wpcf7-wpgdprc .wpcf7-list-item {
      margin-left: 0;
      position: relative;
      font-weight: 600;
      font-size: 14px;
      display: block;
      color: #B0B2B5;
      padding-left: 40px; }
      .form-check-cover .wpcf7-form-control-wrap.wpgdprc .wpcf7-wpgdprc .wpcf7-list-item-label:before {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        border: 1px solid #f23849;
        border-radius: 5px;
        left: 0;
        top: 0; }
      .form-check-cover .wpcf7-form-control-wrap.wpgdprc .wpcf7-wpgdprc .wpcf7-list-item-label:after {
        content: '\f00c';
        position: absolute;
        color: #fff;
        font-family: 'FontAwesome';
        top: 1px;
        left: 6px;
        opacity: 0; }
      .form-check-cover .wpcf7-form-control-wrap.wpgdprc .wpcf7-wpgdprc .wpcf7-list-item input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        width: 100%;
        height: 100%; }

.form-check-cover .wpcf7-form-control-wrap.wpgdprc .wpcf7-wpgdprc input:checked + .wpcf7-list-item-label:after {
  opacity: 1; }

.wpcf7-form-control-wrap {
  display: block; }

div.wpcf7-response-output {
  border: none;
  margin: 0;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  font-weight: 300; }

span.wpcf7-not-valid-tip {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 300;
  line-height: 18px;
  font-size: 10px;
  text-align: right;
  color: #f23849; }

div.wpcf7 .ajax-loader {
  display: none; }

input[type='submit']:focus,
input[type='reset']:focus {
  outline: none; }

input[type='submit'],
input[type='reset'] {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 600; }

select {
  border: 1px solid #f23849; }

textarea {
  min-height: 150px;
  resize: none; }

.form-subscribe .jw-subscribe-form--inline-layout .jw-subscribe-form__input-group {
  flex-wrap: nowrap; }
  .form-subscribe .jw-subscribe-form--inline-layout .jw-subscribe-form__input-group .jw-subscribe-form__input {
    width: 100%; }

::-moz-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

.search-form {
  display: flex;
  align-items: center; }
  .search-form__field[type='search'] {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 6px 18px;
    border-radius: 30px 0 0 30px;
    border: 2px solid transparent;
    background-color: #fff;
    font-size: 14px;
    font-size: 0.875rem;
    color: #000; }
    .search-form__field[type='search']:focus {
      border-color: transparent; }
  .search-form__submit.btn {
    padding: 11px 16px;
    margin-left: 0;
    border-width: 2px;
    font-size: 14px;
    font-size: 0.875rem;
    border-radius: 0 30px 30px 0;
    text-align: center; }

.header-search .search-form {
  justify-content: flex-end; }
  .header-search .search-form__field[type='search'] {
    padding-right: 0;
    padding-left: 10px;
    width: 57px;
    border-radius: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Righteous';
    color: #fff;
    transition: .4s ease;
    position: absolute;
    z-index: 1;
    right: 42px;
    font-size: 12px; }
    .header-search .search-form__field[type='search']:focus {
      width: 270px;
      background-color: #202122;
      border-bottom-color: #f23849; }
  .header-search .search-form__submit.btn {
    padding: 12px;
    border-radius: 0;
    border-color: transparent;
    background-color: transparent;
    color: #f23849;
    position: relative;
    z-index: 2; }
    .header-search .search-form__submit.btn:hover {
      color: #fff;
      background-color: #f23849; }

.widget.widget_product_search button {
  transition: .3s ease;
  padding: 10px 16px;
  border: 2px solid #f23849;
  background-color: #f23849;
  color: #fff;
  font-size: .875rem;
  position: relative;
  z-index: 2;
  cursor: pointer; }
  .widget.widget_product_search button:hover {
    background-color: transparent;
    color: #f23849; }

/* header 3 */
.header3 .header-search .search-form {
  width: 85px; }
  .header3 .header-search .search-form__field[type='search'] {
    color: #272727;
    right: 22px;
    font-size: 14px;
    width: 62px; }
    .header3 .header-search .search-form__field[type='search']:focus {
      background-color: #fff;
      border-bottom-color: #01cade;
      width: 270px; }
  .header3 .header-search .search-form__submit.btn {
    color: #01cade;
    padding: 12px 5px; }
    .header3 .header-search .search-form__submit.btn:hover {
      color: #01de9c;
      background-color: transparent; }

.header3 .header-search .search-form .search-form__field::-webkit-input-placeholder {
  color: #272727; }

.header3 .header-search .search-form .search-form__field::-moz-placeholder {
  color: #272727; }

.header3 .header-search .search-form .search-form__field:-moz-placeholder {
  color: #272727; }

.header3 .header-search .search-form .search-form__field:-ms-input-placeholder {
  color: #272727; }

.rvdx-auth-links i {
  font-size: 14px;
  color: #01cade; }

.post-password-form label {
  display: inline-block; }

/*--------------------------------------------------------------
### Main column width
--------------------------------------------------------------*/
.wp-block {
  max-width: 1000px; }
  .wp-block[data-align="wide"], .wp-block[data-align="full"] {
    max-width: inherit; }

[id|="elementor"].button:hover {
  background: #008ec2;
  border-color: #006799;
  color: #fff; }

a#elementor-go-to-edit-page-link,
a#elementor-go-to-edit-page-link:hover {
  background-color: inherit;
  border: none; }

/*--------------------------------------------------------------
### Gutenberg editor style controls
--------------------------------------------------------------*/
a.components-external-link {
  color: #0073aa;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: 100%; }
  a.components-external-link:hover {
    color: #0073aa; }

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  position: relative; }

.wp-block-code .block-editor-plain-text {
  color: #fff; }

.wp-block-pullquote__citation:before,
.wp-block-quote__citation:before {
  content: "— "; }

.wp-block-freeform.block-library-rich-text__tinymce code {
  background: transparent;
  padding: 2px 5px; }

select,
.wp-block-archives-dropdown select {
  height: auto;
  border-color: #aaa;
  border-radius: 0; }

.editor-block-list__block-edit ul.wp-block-categories__list,
.editor-block-list__block-edit ul.wp-block-archives-list {
  list-style-type: none;
  padding-left: 0; }
.editor-block-list__block-edit ul.wp-block-archives-list li:before,
.editor-block-list__block-edit ul.wp-block-categories__list li:before {
  content: '\f105';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  margin-right: 10px;
  color: #f23849; }
.editor-block-list__block-edit hr.wp-block-separator:not(.is-style-dots) {
  background-color: #8f98a1; }
.editor-block-list__block-edit hr.wp-block-separator.is-style-dots {
  color: #8f98a1; }
.editor-block-list__block-edit hr.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  border: 0;
  height: 2px;
  margin: 1.5em auto; }
.editor-block-list__block-edit input[type='password'],
.editor-block-list__block-edit input[type=text] {
  border-radius: 0; }
.editor-block-list__block-edit .wp-block-freeform .button,
.editor-block-list__block-edit .wp-block-freeform .button-primary,
.editor-block-list__block-edit .wp-block-freeform .button-secondary {
  height: auto;
  box-shadow: none; }
.editor-block-list__block-edit .wp-block-freeform input[type=reset],
.editor-block-list__block-edit .wp-block-freeform input[type=reset]:active,
.editor-block-list__block-edit .wp-block-freeform input[type=reset]:focus,
.editor-block-list__block-edit .wp-block-freeform input[type=reset]:hover {
  padding: 16px 40px; }
.editor-block-list__block-edit .wp-block-freeform input.button:hover {
  border-color: #f23849; }
.editor-block-list__block-edit .alignwide {
  margin-left: -80px;
  margin-right: -80px;
  max-width: initial;
  width: calc(100% + 160px); }

/*# sourceMappingURL=wp-gutenberg-block.css.map */
